{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h3>{{ list.name }}</h3>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <h4>Pros</h4>
        <ul>
          {% for pro in list.pros %}
            <li>{{ pro.body }}</li>
          {% endfor %}
        </ul>
        <form action="/lists/<slug>/pros/create" method="POST" class="form-inline">
          <div class="form-group">
            <input type="text" name="body" class="form-control" placeholder="Add another pro">
            <input type="hidden" name="slug" value={{ list.slug }}>
          </div>
          <input type="submit" value="Add" class="btn btn-primary">
        </form>
      </div>
      <div class="col-sm-3">
        <h4>Cons</h4>
        <ul>
          {% for con in list.cons %}
            <li>{{ con.body }}</li>
          {% endfor %}
        </ul>
        <form action="/lists/<slug>/cons/create" method="POST" class="form-inline">
          <div class="form-group">
            <input type="text" name="body" class="form-control" placeholder="Add another con">
            <input type="hidden" name="slug" value={{ list.slug }}>
          </div>
          <input type="submit" value="Add" class="btn btn-primary">
        </form>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>

  <a href="{{ url_for('update_list', slug=list.slug) }}">Edit List</a>
{% endblock %}